<div class="container">
  <div class="row">
    <div class="col-4">
      <app-nav></app-nav>
    </div>

    <div class="col container mt-auto">
      <header class="row mt-6">lançamento</header>
      <p>formulário para cadastro de energia gerada</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, deleniti
        a? Dolor, possimus. Reiciendis vero alias quia numquam tempora delectus.
        Tenetur nemo quibusdam quis, pariatur odit aut? Quia, aliquam placeat!
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ex
        ut quaerat, sed modi saepe aperiam. Laudantium necessitatibus explicabo
        fugit omnis voluptates expedita sequi asperiores repudiandae saepe, iure
        ad porro.
      </p>
    </div>
  </div>
</div>
